body{
    font-family: sans-serif;
    color: #2f2f2f;
}

header h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
}

.container{
    width: 60%;
    margin: auto;
}

header{
    text-align: center;
}

header a{
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

main{
    min-height: 600px;
}

footer{
    background-color: #2f2f2f;
    color: white;
    padding: 5px;
}
