body{
    font-family: sans-serif;
    color: #2f2f2f;
    margin: 0;
}

header h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3.5rem;
}

.container{
    width: 60%;
    margin: auto;
}

header{
    text-align: center;
}

header a{
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

main{
    min-height: 600px;
}

.article{
    border: 1px solid lightgray;
    padding: 16px;
    text-align: center;
    border-radius: 16px;
    margin-top: 20px;
}

.article-body{
    color: #4f4f4f;
}

.article:hover{
    box-shadow: 3px 3px 10px gray;
}

footer{
    background-color: #2f2f2f;
    color: white;
    padding: 5px;
    margin-top: 30px;
}
