<header>
    <div class="container">
        <h1>DSC Alexandria</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Us</a>
        </nav>
    </div>
    <hr>
</header>