<!DOCTYPE html>
<html lang="en">
<%- include('partials/meta.ejs') %>

<body>
  <%- include('partials/header.ejs') %>
  <main>
    <div class="container">
      <div style="text-align: center;">
        <img src="/DSC.png" alt="">
      </div>
      <br>

      <h3>Helping students bridge the gap between theory and practice.</h3>
      <p>
        Developer Student Clubs are university based community groups for students interested in Google developer
        technologies. Students from all undergraduate or graduate programs with an interest in growing as a developer
        are welcome. By joining a DSC, students grow their knowledge in a peer-to-peer learning environment and build
        solutions for local businesses and their community.
      </p>
      <br>
      <h3>DSC aims at three main missions:</h3>
      <br>
      <h4><b>Connect</b></h4>
      <p>Meet other students on campus interested in developer technologies. All are welcome, including those with
        diverse backgrounds and different majors.</p>
      <h4><b>Learn</b></h4>
      <p>Learn about a wide range of technical topics where new skills are gained through hands-on workshops, in-person
        training and project building activities.</p>
      <h4><b>Grow</b></h4>
      <p>Apply your new learnings and connections to build great solutions for local problems. Advance your skills,
        career and network. Give back to your community by helping others learn as well.</p>

    </div>
  </main>
  <%- include('partials/footer.ejs') %>
</body>

</html>